body{
    width: 100vw;
    height: 100vh;
    background-color: beige;
}

.container{
    background-color: bisque;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* tambien podemos usar: 25px repeat(3,1fr) 50px o tambien:width: grid-template-columns: repeat(3, 25px 50px); y esto creaara tres veces 25px 50px , como si pusieras : 25px 50px 25px 50px 25px 50px */
    /*grid-template-columns: 1fr 1fr;*/ /*cuando hacemos esto nos crea tambien filas automaticas entonces para ponerle un tamanio a esas fulas automaticas usamos grid-auto-rows*/
    grid-auto-rows: 200px;
    /* grid-template-rows: 100px 50px 30px 100px 100px; */

    /* grid-template-columns: minmax(100px, 1fr) 1fr 1fr;
    grid-template-rows: 100px; */


    /* separacion entre items: */
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */

    /* abreviado: */
    /* gap: 10px 20px; */
    gap: 10px;

    /* =-------------AHORA PARA HACER DISENOS RESPOSNSIVOS CON GRID USAMOS REPEAT CON MINMAX, auto-fill y auto-fit:------------ */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 90%;
    margin: 0 auto;

}

.container div{
    background-color: aliceblue;
    border: 2px solid rgb(74, 73, 73);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container div:first-child{
    background-color: goldenrod;
    /* podemos asignarle cuanto espacio va a usar un iten tanto en columnas como en filas : */
    /* donde empieza column */
    /*
    grid-column-start: 1;
    /* donde termina column: */
    grid-column-end: 3;
    /* donde empieza row */
    grid-row-start: 1;
    /* donde termina row */
    grid-row-end: 2;

    /* ----forma resumida de hacer lo mismo: */
    grid-column:  1/3;
    grid-row: 1/2;

}

@media (width < 456px){
    .container div:first-child{
        grid-column: 1/1;
    }
}