*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Variables */

:root{
    --cream: #ffffff;
    --color-perfume: #acadb4;
    --color-title: #1E2329;
    --color-green: #3D8168;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3EAE3;
}
.img-desktop{
    display: none;
}

.container{
    background-color: var(--cream);
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2em auto 2em auto;
    gap: 1em;
    border-radius: 10px;
    overflow: hidden;
}

.container-img{
    width: 100%;
    height: 300px;
}
.container-img .img-mobile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px -50px;

    
}

.informacion{
    padding: 0em 1.5em 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
p{
    color: var(--color-perfume);
    font-family: sans-serif ;
    font-weight: 400;
}
h3{
    color: var(--color-perfume);
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: .3em;
    font-size: .8em;
}
h2{
    color: var(--color-title);
    font-weight: 900;
    font-size: 2em;
    line-height: 1em;
}
.container-price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.agregar-carrito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--cream);
    background-color: var(--color-green);
    padding: 1em;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
}

.price-ofert{
    color: var(--color-green);
    font-size: 2.2em;
    font-weight: 600;
}

.price-real{
    text-decoration: line-through;
}

@media(min-width: 574px){
    .img-mobile{
        display: none;
    }

    .container{
        width: 600px;
        height: 400px;
        margin: 0;
    }
    .container-img{
        width: 100%;
        height: 100%;
        background-color: #3D8168;
        overflow: hidden;
    }

    .informacion{
        padding: 1em;
        gap: 1.5em;
        justify-content: center;
        
    }
    .img-desktop{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}