*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    width: 150px;
}

header{
    background: linear-gradient(130deg,#4a7bd4, #dddddd );
    color: white;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    height: 300px;
    box-shadow: 3px 9px 5px -2px rgba(0,0,0,0.23);
    -webkit-box-shadow: 3px 9px 5px -2px rgba(0,0,0,0.23);
    -moz-box-shadow: 3px 9px 5px -2px rgba(0,0,0,0.23);
}
a{
    color: white;
    text-decoration: none;
}
header h1{
    padding: 10px;
}
header img{
    margin-top: 10px;
}
ul{
    list-style: none;
}
nav{
    text-align: center;
    margin-top: 20px;
}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 10px ;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.178);
}

nav ul li a:hover{
    opacity: .6;
}

section{
    margin:20px auto;
    max-width: 80%;
    border-radius: 16px;
    box-shadow: 7px 12px 16px -9px rgba(0, 0, 0, 0.105);
}

#inicio{
    background-color: rgb(161,181,217);
    border: 1px solid rgb(217,218,220);
    text-align: center;
    padding: 20px;
}

input:focus{
    border: 3px solid rgb(232, 15, 15);
}