*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: lighter;
    /* line-height: 1.6; */
    /* font-style:oblique; */ 
}

/* ----------------------------DISPLAY----------------------------
-> hace referencia a como se comporta un elemento en el flujo del documento
-------------------------------------------------------------------- */

button{
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 14px;
    transition: opacity .2s;
    font-size: 15px;
}
button:hover{
    opacity: .5;
}

/* Display: flex */
/* display Grid */

.container{
    background-color: rgb(60, 77, 92);
    color: white;
    max-width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 14px;
    -webkit-box-shadow: 22px 18px 27px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 22px 18px 27px -12px rgba(66, 68, 90, 1);
    box-shadow: 22px 18px 27px -12px rgba(66, 68, 90, 1);
}

.butons{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
p{
    text-align: center;
    line-height: 1.6;
    width: 70%;
    height: 60%;
}