*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    background-color: antiquewhite;
    padding: 3rem;
}

h1{
    font-size: clamp(1.8rem, 5vw, 3rem);
}

.content-pc{
    display: none;
}

@media (min-width: 768px){
    .content-pc{
        display: block;
    }
    .content-mobile{
        display: none;
    }
}