*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

div{
    background-color: beige;
    padding: 10px;
    font-size: 12px;
}
div img {
    width: 100%;
}