*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.contenedor-text{
  background-color: aqua;
  width: 70%;
}

.me{
  background-color: rgb(204, 215, 215);
  align-self: flex-end;
}

h2{
  font-weight: 200;
  font-size: 18px;
}

