*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}
.app{
    background-color: antiquewhite;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

aside{
    width: 40%;
    background-color: beige;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll
}

section{
    width: 60%;
}

.search{
    width: 100%;
    padding: .5em;
    border: none;
    border-radius: 10px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul li{
    width: 100%;
    height: 100%;
    background-color: azure;
    padding: 5px;
    display: flex;
    flex-direction: row;
    transition: border-left .2s;
    border-left: 2.5px solid transparent;
}
ul li:hover{
    border-left: 2.5px solid rgb(110, 109, 108);
}
.container-img-chat{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(158, 159, 159);
    padding: 5px;
}
.container-img-chat img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container-descripcion-chat{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: .2em;
}
li h3{
    font-size: 16px;
    font-weight: 500;
}
small{
    color: rgba(0, 0, 0, 0.388);
}
