*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 10px;
}

.university{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.university h2,
.university p{
    margin-bottom: 10px;
}

.university a{
    display: block;
    background-color: rgb(220, 235, 248);
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: black;
    transition: opacity ease .2s;
}
.university a:hover{
    opacity: .6;
}